{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
              <th>Image File</th>
              <td>
                {% for image in room.image %}
                  <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" style="width:25%;">
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Extra</th>
              <td>
                {% for extra in extras %}
                  {{ extra.description }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Extra Price</th>
              <td>
                {% for extra in extras %}
                  {{ extra.extraPrice }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Type</th>
              <td>
                {% for type in types %}
                  {{ type.description }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Type Price</th>
              <td>
                {% for type in types %}
                  {{ type.extraPrice }}
                {% endfor %}
              </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_index') }}">back to list</a>

    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
